* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --main-bg: hsl(229, 57%, 11%);
}

body {
    height: 100dvh;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(images/bg-desktop.png), var(--main-bg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

main {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.left {
    width: 20rem;
    height: 12rem;
    background-color: var(--Dark-Blue);
    padding: 2.5rem;
    border-radius: 1rem 7rem 1rem 1rem;
}

/* ******************left ve right ayrımı********** */

.right {
    width: 32rem;
    height: 10rem;
    background-color: var(--Dark-Blue);
    padding: 2.5rem;
    border-radius: 1.2rem;
}

.attribution {
     font-size: 11px; 
     text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}